html {
    scroll-behavior: smooth;
}

body {
    padding: 0px 0px;
    scroll-behavior: smooth;
}

.PageIndexCont {
    padding-top: 80px;
    width: 1100px;
    margin: auto;

}

.main-card-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0px;
    border-radius: 10px;
    z-index: -2;
    background-color: transparent;

}


.main-card-section-rightside {
    width: 50%;
}

.main-card-section-leftside {
    width: 50%;
}

.main-card-section-imagecontent {
    position: relative;
}

.section-cardswrap-information-content-projects {
    padding: 20px 0px;
}

.section-cardswrap-information-content {
    display: flex;
    justify-content: center;
    align-items: top;
    gap: 10px;
}

.section-cardswrap-information-content-about {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.section-cardswrap-information-content-left img {
    border-radius: 5px;
    width: 100%;
}

.section-cardswrap-information-content-right h1 {
    color: black;
    border-left: 2px solid #3bc585;
    padding: 0px 5px;

}

.section-contato-information-content {
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
    margin: 20px 0px
}

.menu-mobile {
    display: none;
}

.contato-card {
    display: flex;
    gap: 10px;
    align-items: center;
    padding: 10px;
    border-radius: 10px;
}

.contato-card a {
    text-decoration: none;
    color: rgb(95, 95, 95);
    font-weight: 500;
}

.contato-card-left i {
    padding: 10px;
    background: white;
    box-shadow: 1px 1px 5px gray;
    border-radius: 100%;
    font-size: 25px;
    color: #3bc585;
}

.section-work-together {
    margin: 200px auto;
    text-align: center;
}

.section-work-together h3 {
    font-size: 40px;
}

.section-work-together a {
    font-size: 80px;
    color: black;
}


.skills-card {
    background: #3bc585;
    padding: 10px;
    color: white;
    border-radius: 0px;


}

.section-cardswrap-information-content-front-end-skills li {
    list-style: none;
    font-weight: 500;
    text-align: left;
    padding: 5px 0px;
    cursor: default;
}

.section-cardswrap-information-content-front-end-skills {
    padding: 10px 0px;
    width: 100%;

}

.section-cardswrap-information-content-right {
    width: 60%;
}

.section-cardswrap-information-content-right p {
    color: #6a6969;
    font-size: 19px;
}

.main-card-section-imagecontent-circle-background {
    width: 80%;
    height: 80%;
    background: #3bc585;
    transform: rotate(20deg);
    border-radius: 5%;
    position: absolute;
    left: 0;
    right: 0;
    top: 10%;
    z-index: -1;
}

.main-card-section-imagecontent img {
    width: 550px;
    border-radius: 50px;
}

.main-card-section-rightside-topinfo h1 {
    color: #000;
    font-size: 64px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.main-card-section-rightside-topinfo p {
    color: #8b8b8b;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    width: 100%;
    line-height: normal;
}


.main-card-section-rightside-topinfo {
    margin-bottom: 15px;
}

.main-card-section-rightside-lang {
    width: 550px;
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 0px 20px;
    margin: 10px 0px;
}

.main-card-section-rightside-buttons {
    display: flex;
    gap: 10px;
}

.main-card-section-rightside-buttons a {
    color: black;
    text-decoration: none;
    transition: 300ms;
    font-size: 19px;
}

.main-card-section-rightside-buttons a:hover {
    color: #3bc585;
}

.main-card-section-rightside-lang svg {
    width: 40px;
}

.header-section h2 {
    color: #3bc585;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 6px;
}

.header-section h1 {
    color: #000;
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.section-cardswrap-information {
    margin: 80px 0px;
}

.project-content-item-show {
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    gap: 10px;
    align-items: center;
    width: 1000px;
    background: white;
    box-shadow: 2px 2px 12px gray;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 40px;
}


.project-content-item-show-leftside {
    position: relative;
}

.project-content-item-show-leftside img {
    width: 500px;
    pointer-events: none;
}

.project-content-item-show-leftside .website-wrapper {
    position: absolute;
    left: 0%;
    right: 0%;
    margin: auto;
    width: 78%;
    height: 237px;
    top: 29px;
    z-index: 0;
    left: +20px;
    object-fit: cover;
    object-position: top;
    border-radius: 2px;
    overflow-y: scroll;
}

.project-content-item-show-leftside .notebook-wrapper {
    z-index: 1;
}

.list-tec {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0px;
    gap: 10px;


}

.list-tec svg {
    width: 30px;
    transition: 500ms;
    cursor: pointer;
}

.list-tec svg:hover {
    opacity: 0.5;
}

.project-content-item-show-rightside-top {
    text-align: center;
}

.project-content-item-show-rightside-middle p {
    width: 400px;
    color: rgb(111, 111, 111);
    font-weight: 500;
    text-align: center;
    margin: auto;
}

.project-content-item-show-rightside {
    width: 50%;
}

.project-content-item-show-leftside {
    width: 50%;
}

.project-content-item-show-rightside-bottom {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.project-content-item-show-rightside-bottom a {
    color: black;
    font-weight: 500;
    text-decoration: none;
    transition: 300ms;
}

.project-content-item-show-rightside-bottom a:hover {
    color: #3bc585;
}

footer {
    background: rgb(33, 33, 33);
    color: white;
    padding: 20px 0px;
}

.content-footer {
    margin: auto;
    width: 1100px;
}

.menu-mobile {
    display: none;
}

.copyright {
    display: flex;
    justify-content: space-between;
    font-size: 17px;
}

.copyright a {
    color: white;
    text-decoration: none;
    font-size: 25px;
}

@media screen and (max-width: 900px) {
    .PageIndexCont {
        padding-top: 80px;
        width: 90%;
        margin: auto;

    }

    .main-card-section {
        display: block;
        justify-content: center;
        align-items: center;
        text-align: center;
        margin: 100px auto;
        border-radius: 10px;
        z-index: -2;
        background-color: transparent;
    }

    .project-content-item-show {
        width: 100%;
    }

    .project-content-item-show-leftside .notebook-wrapper {
        width: 100%;
    }



    .project-content-item-show-rightside-middle p {
        width: 100%;
    }

    .main-card-section-imagecontent img {
        width: 100%;
    }

    .content-footer {
        width: 90%;
    }


    .section-contato-information-content {
        display: block;
        justify-content: center;
        gap: 10px;
        align-items: center;
        margin: 20px 0px
    }

    .list-tec {
        flex-wrap: wrap;
    }

    .main-card-section-leftside {
        margin: auto;
    }

    .main-card-section {
        margin: 150px 0px;
    }

    .main-card-section-rightside-topinfo h1 {
        font-size: 35px;
        font-weight: 600;
    }

    .main-card-section-rightside-buttons {
        justify-content: center;
    }

    .main-card-section-rightside-lang {
        justify-content: center;
        width: 90%;
        margin: auto;
    }
    
    .main-card-section-rightside-lang svg {
        width: 30px;
    }

    .section-cardswrap-information-content-about {
        display: block;
    }

    .section-cardswrap-information-content-right {
        width: 100%;
        text-align: center;
    }

    .section-cardswrap-information-content-right h1 {
        text-align: left;
        margin: 20px 0px;
    }

    .section-cardswrap-information-content {
        align-items: top;
    }

    .skills-card {
        font-size: 10px;
    }

    .project-content-item-show {
        display: block;
        position: relative;

    }

    .project-content-item-show-leftside .website-wrapper {
        position: absolute;
        left: 0;
        right: 6%;
        margin: auto;
        width: 74%;
        height: 148px;
        top: 17px;
        z-index: 0;
        left: +20px;
        object-fit: cover;
        object-position: top;
        border-radius: 2px;
        overflow-y: scroll;
    }

    .notebook-wrapper {
        margin: auto;
        left: 0;
        right: 0;
        margin: auto;
    }

    .project-content-item-show-leftside {
        width: 100%;
    }
    .project-content-item-show-rightside {
        width: 100%;
    }

    .section-work-together {
        margin: 150px auto;
        text-align: center;
    }
    
    .section-work-together h3 {
        font-size: 20px;
    }
    
    .section-work-together a {
        font-size: 30px;
        color: black;
    }

    .menu-mobile {
        display: block;
        position: fixed;
        background-color: white;
        width: 100%;
        left: 0;
        top: 0;
        height: 100%;
        padding: 20px 30px;
        animation: menumobile 0.2s ease-out ;

    }

    .menu-mobile-top {
        justify-content: right;
        display: flex;
        align-items: center;
        text-align: right;
        
        
    }

    .header-app-middle-buttons-mobile button {
        cursor: pointer;
    }


    .menu-mobile-top button {
        background-color: transparent;
        border: none;
        font-size: 25px;
        cursor: pointer;
    }

    .menu-mobile-options {
        display: block;
        margin: auto;
        text-align: center;
    }

    .option-menu-mobile {
        margin: 20px 0px;
    }

    @keyframes menumobile {
        0% {
            left: 100%;
        }

        100% {
            left: 0;
        }
    }
    

    
}